Repository Stranga-Games/My-Big-Sister-Remastered-Translations, pull requests merged in 2022-12, with the labels that each got.

#11 `[RU] Update Game Translation`
  translations/game/Russian.trs
Labels: area: translations, translation update, size/M

#10 `[RU] Add Store Translation`
  translations/store/English.txt
  translations/store/Russian.txt
Labels: area: translations, new translation, size/M

#20 `[RU] Update Store Translation`
  translations/store/Russian.txt
Labels: area: translations, translation update, size/XS

#15 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#16 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/XL

#36 Дополнительный текст - меню
  translations/game/Russian.trs
Labels: area: translations, translation update, size/M

#17 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#18 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#19 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#21 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#22 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#23 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/M

#24 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#25 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#27 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#28 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L
