Repository Stranga-Games/My-Big-Sister-Remastered-Translations, pull requests merged in 2022-11, with the labels that each got.

#6 `[UA] Update Translation`
  translations/Ukrainian.trs
Labels: area: translations, translation update, size/M

#7 `Add "game", "store" folders and updated related things`
  README.md
  translations/game/Chinese.trs
  translations/game/English.trs
  translations/game/French.trs
  translations/game/German.trs
  translations/game/Italian.trs
  translations/game/Japanese.trs
  translations/game/Korean.trs
  translations/game/Portuguese.trs
  translations/game/Russian.trs
  translations/game/Spanish.trs
  translations/game/Turkish.trs
  translations/game/Ukrainian.trs
  translations/store/English.txt
Labels: size/M

#9 `[RU] Update Translation`
  translations/game/Russian.trs
Labels: area: translations, translation update, size/M

#8 `[ES] Update Game Translation`
  translations/game/Spanish.trs
Labels: size/L
