Repository Stranga-Games/My-Big-Sister-Remastered-Translations, pull requests merged in 2023-01, with the labels that each got.

#26 [ES] Add `Store` Translation
  translations/store/Spanish.txt
Labels: area: translations, new translation, size/M

#29 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L

#30 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/M

#31 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/XL

#32 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/M

#33 [RU] Update `Game` Translation
  translations/game/Russian.trs
Labels: area: translations, translation update, size/L
